In [2]:
import os
import csv
import pandas as pd

In [3]:
full_path = os.path.expanduser('~/PyBank/Resources/budget_data.csv')

In [4]:
reader = csv.reader("budget_data.csv")

In [5]:
data_file = "budget_data.csv"

In [6]:
data_file_df = pd.read_csv(data_file)
data_file_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [7]:
num_rows = 0

for row in open("budget_data.csv"):
    num_rows += 1

print(num_rows)

87

In [8]:
total = data_file_df["Profit/Losses"].sum()
total

38382578

In [9]:
average = data_file_df["Profit/Losses"].mean()
average

446309.0465116279

In [11]:
max = data_file_df["Profit/Losses"].max()
max

1170593

In [14]:
print(data_file_df[data_file_df['Profit/Losses']==data_file_df['Open BC'].max()])

AttributeError: 'str' object has no attribute 'ix'

In [10]:
min = data_file_df["Profit/Losses"].min()
min

-1196225

In [11]:
print(num_rows)
print(total)
print(average)
print(max)
print(min)

87
38382578
446309.0465116279
1170593
-1196225

In [12]:
import sys

print('This is the output of the data from our budget sheet.')

original_stdout = sys.stdout 
with open('Analytics.txt', 'w') as f:
    sys.stdout = f 
    print('Financial Analysis')
    print('----------------------------')
    print('Total Months:', num_rows)
    print('Total:', '$', total)
    print('Average  Change:', '$', average)
    print('Greatest Increase in Profits:', 'Feb-2012', '$', max)
    print('Greatest Decrease in Profits:', 'Sep-2013', '$', min)
    sys.stdout = original_stdout

This is the output of the data from our budget sheet.