In [64]:
import os
import csv
import pandas as pd

In [14]:
full_path = os.path.expanduser('~/PyRoll/Resources/election_data.csv')

In [15]:
reader = csv.reader("election_data.csv")

In [53]:
data_file = "election_data.csv"

In [55]:
data_file_df = pd.read_csv(data_file)
data_file_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [56]:
num_rows = 0

for row in open("election_data.csv"):
    num_rows += 1

print(num_rows)

3521002

In [57]:
print(data_file_df["Candidate"].unique(), sep = "\n")

['Khan' 'Correy' 'Li' "O'Tooley"]

In [61]:
data_file_df["Candidate"].value_counts()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [69]:
df_result_Khan = data_file_df[data_file_df['Candidate'] == "Khan"]
print(len(df_result))

2218231

In [70]:
df_result_Correy = data_file_df[data_file_df['Candidate'] == "Correy"]
print(len(df_result))

2218231

In [71]:
df_result_Li = data_file_df[data_file_df['Candidate'] == "Li"]
print(len(df_result))

2218231

In [72]:
df_result_OTooley = data_file_df[data_file_df['Candidate'] == "O'Tooley"]
print(len(df_result))

2218231